RewriteEngine On
RewriteBase /

# If the request is a file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.php
RewriteRule ^ index.php [L]